{% extends 'base.html' %}


{% block content %}

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">編輯地點</h1>
    </div>
    {% if update_done %}
    <div class="alert alert-success" role="alert">
        地點已經成功更新<a href="{{ url_for('spot_info', spot_id=spot_id) }}">回到地點資訊</a>
    </div>
    {% else %}

    <form action="" method="POST">
        {{ onespot_form.hidden_tag() }}
        {{ onespot_form.csrf_token }}
        <div class="shadow-sm bg-light p-3 mb-3 rounded-2 h-100">

            <div class="row pt-1 pb-2 mb-3">
                <div class="row py-2">
                    <div class="col-lg-3">
                        {{onespot_form.spot_name.label(class="form-label")}}
                        {{onespot_form.spot_name(class="form-control", value=spot_edit.spot_name)}}
                    </div>
                    <div class="col-lg-3">
                        {{onespot_form.spot_ch_name.label(class="form-label")}}
                        {{onespot_form.spot_ch_name(class="form-control", value=spot_edit.spot_ch_name)}}
                    </div>
                    <div class="col-lg-2">
                        {{onespot_form.county_id.label(class="form-label")}}
                        {{onespot_form.county_id(class="form-control")}}
                    </div>
                    <div class="col-lg-2">
                        {{onespot_form.spot_type_id.label(class="form-label")}}
                        {{onespot_form.spot_type_id(class="form-control")}}
                    </div>
                </div>
                <div class="row py-2">
                    <div class="col-lg-2">
                        {{onespot_form.longitude.label(class="form-label")}}
                        {% if spot_edit.longitude %}
                        {{onespot_form.longitude(class="form-control", value=spot_edit.longitude)}}
                        {% else %}
                        {{onespot_form.longitude(class="form-control")}}
                        {% endif %}
                    </div>
                    <div class="col-lg-2">
                        {{onespot_form.latitude.label(class="form-label")}}
                        {% if spot_edit.latitude %}
                        {{onespot_form.latitude(class="form-control", value=spot_edit.latitude)}}
                        {% else %}
                        {{onespot_form.latitude(class="form-control")}}
                        {% endif %}
                    </div>
                </div>
            </div>

            <h5 class="my-3">Season</h5>

            <div class="row py-2">
                <div class="col-lg-1">
                    {{onespot_form.winter(class="form-check-input")}}
                    {{onespot_form.winter.label(class="form-check-label")}}
                </div>
                <div class="col-lg-1">
                    {{onespot_form.spring(class="form-check-input")}}
                    {{onespot_form.spring.label(class="form-check-label")}}
                </div>
                <div class="col-lg-1">
                    {{onespot_form.summer(class="form-check-input")}}
                    {{onespot_form.summer.label(class="form-check-label")}}
                </div>
                <div class="col-lg-1">
                    {{onespot_form.autumn(class="form-check-input")}}
                    {{onespot_form.autumn.label(class="form-check-label")}}
                </div>
            </div>

            <br>

            <div class="row py-2">
                <div class="col-lg-12">
                    {{onespot_form.description.label(class="form-label")}}
                    {{onespot_form.description(class="form-control", rows='10', value=spot_edit.description)}}
                </div>
            </div>

            <div class="row py-2">
                <div class="col-lg-12">
                    {{onespot_form.ch_description.label(class="form-label")}}
                    {{onespot_form.ch_description(class="form-control", rows='10', value=spot_edit.ch_description)}}
                </div>
            </div>

            <br>

            {{onespot_form.update_spot(class="btn btn-primary")}}
    </form>
    {% endif %}

</main>
</div>
</div>


{% endblock %}