{% extends 'base.html' %}


{% block content %}

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <div>
            <h1 class="h2">編輯成員</h1>
            <h5>{{ partner_edit.ch_last_name }}{{ partner_edit.ch_first_name }} {{ partner_edit.first_name }} {{ partner_edit.last_name }}</h5>
        </div>
    </div>

    <form action="" method="POST">
        {{ partner_form.hidden_tag() }}
        {{ partner_form.csrf_token }}
        <div class="shadow-sm bg-light p-3 mb-3 rounded-2 h-100">
            <div class="row mb-3">
                <div class="col-lg-3">
                    {{ partner_form.first_name.label(class="form-label") }}
                    {{ partner_form.first_name(class="form-control", value=partner_edit.first_name) }}
                </div>
                <div class="col-lg-3">
                    {{ partner_form.last_name.label(class="form-label") }}
                    {{ partner_form.last_name(class="form-control", value=partner_edit.last_name) }}
                </div>
                <div class="col-lg-2">
                    {{ partner_form.ch_first_name.label(class="form-label") }}
                    {{ partner_form.ch_first_name(class="form-control", value=partner_edit.ch_first_name) }}
                </div>
                <div class="col-lg-2">
                    {{ partner_form.ch_last_name.label(class="form-label") }}
                    {{ partner_form.ch_last_name(class="form-control", value=partner_edit.ch_last_name) }}
                </div>
                <div class="col-lg-2">
                    {{ partner_form.en_first_name.label(class="form-label") }}
                    {{ partner_form.en_first_name(class="form-control", value=partner_edit.en_first_name) }}
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-lg-4">
                    {{ partner_form.phone_number.label(class="form-label") }}
                    {{ partner_form.phone_number(class="form-control", value=partner_edit.phone_number) }}
                </div>
                <div class="col-lg-4">
                    {{ partner_form.email.label(class="form-label") }}
                    {{ partner_form.email(class="form-control", value=partner_edit.email) }}
                </div>
                <div class="col-lg-2">
                    {{ partner_form.id_number.label(class="form-label") }}
                    {{ partner_form.id_number(class="form-control", value=partner_edit.id_number) }}
                </div>
                <div class="col-lg-2">
                    {{ partner_form.birthday.label(class="form-label") }}
                    {{ partner_form.birthday(class="form-control", value=partner_edit.birthday) }}
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-lg-1">
                    {{ partner_form.zip_code.label(class="form-label") }}
                    {{ partner_form.zip_code(class="form-control", value=partner_edit.zip_code) }}
                </div>
                <div class="col-lg-4">
                    {{ partner_form.current_address.label(class="form-label") }}
                    {{ partner_form.current_address(class="form-control", value=partner_edit.current_address) }}
                </div>
                <div class="col-lg-7">
                    {{ partner_form.gdrive_url.label(class="form-label") }}
                    {{ partner_form.gdrive_url(class="form-control", value=partner_edit.gdrive_url) }}
                </div>

            </div>
        </div>
        {% if update_done %}
        <div class="alert alert-success mb-3" role="alert">
            所有變更已儲存，<a href="{{ url_for('partner') }}">回到 TBG 成員資訊</a>
        </div>
        {% endif %}
        {{ partner_form.update_partner(class="btn btn-primary") }}
    </form>

</main>
</div>
</div>


{% endblock %}