{% extends 'base.html' %}


{% block content %}

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">{{ itin_title.title }} - {{ itin_title.ch_title }}</h1>

        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            封存行程
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">確定要封存行程嗎？</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        封存後僅能由資料庫管理員從後台做更改，確定還是要封存嗎？
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <form action="" , method="post">
                            <button type="submit" class="btn btn-danger" name="invalid_itinerary" value="invalid_button">封存行程</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>


    </div>

    {% if update_done %}
    <div class="alert alert-success" role="alert">
        行程已封存<a href="{{ url_for('itinerary') }}">回到行程</a>
    </div>
    {% else %}
    <div class="d-flex flex-wrap">
        {% for i in itin %}
        {% if i[2] %}
        <p class="bg-primary rounded-5 px-2 m-1"><a class="text-white" href="#day{{ i[0].day }}">Day {{ i[0].day }}</a></p>
        {% endif %}
        {% endfor %}
    </div>

    <div class="row pt-1 pb-2 mb-3">

        <div class="col-lg-12">
            <div class="shadow-sm bg-light p-3 rounded-2 h-100">
                <h3 class="mb-3">Itinerary</h3>

                {% for i in itin %}
                {% if i[2] %}
                <h5 id="day{{ i[0].day }}" class="{% if loop.index != 1 %}mt-5{% endif %} fw-bolder text-secondary">Day {{ i[0].day }}</h5>

                <hr>
                {% endif %}
                <li class="fw-bolder mb-2">{{ i[1].spot_name }} - {{ i[1].spot_ch_name }}</li>
                <p>{{ i[1].description }}</p>
                {% endfor %}

            </div>
        </div>
    </div>

    <div class="row pt-1 pb-2 mb-3">
        <div class="col-lg-12">
            <div class="shadow-sm bg-light p-3 rounded-2">
                <h4>Accommodation</h4>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Day</th>
                            <th>住宿</th>
                            <th>地址</th>
                            <th>電話</th>
                            <th>wifi</th>
                            <th>海拔</th>
                            <th>備註</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for a in accom %}
                        <tr>
                            <td>day {{ a[0].day }}</td>
                            <td>{{ a[1].accommodation_ch_name }}<br>{{ a[1].accommodation_name }}</td>
                            <td>{{ a[1].ch_address }}<br>{{ a[1].address }}</td>
                            <td>{{ a[1].phone_number }}</td>
                            <td>
                                {% if a[1].wifi == 1 %}
                                Yes
                                {% else %}
                                No
                                {% endif %}
                            </td>
                            <td>{{ a[1].elevation }}</td>
                            <td>{{ a[1].note }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% endif %}





</main>



{% endblock %}