{% extends 'base.html' %}


{% block content %}

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">新增行政支出</h1>
    </div>
    {% if inserted %}
    <div class="alert alert-success" role="alert">
        行政支出項目已經成功新增，<a href="{{ url_for('admin_cost') }}">回到行政支出資訊</a>
    </div>
    {% else %}

    <form action="" method="POST">
        {{ form.csrf_token }}
        {{ form.hidden_tag() }}

        <div class="row pt-1 pb-2 mb-3">
            <div class="row py-2">
                <div class="col-lg-3">
                    <label class="form-label" for="item_class">項目類別篩選</label>
                    <select class="form-control" name="item_class" id="item_class">
                        <option value="">-- 類別 --</option>
                        {% for i in item_classes %}
                        <option value="{{ i[0] }}">{{ i[1] }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-lg-2">
                    {{form.item_id.label(class="form-label")}}
                    {{form.item_id(class="form-control", id="itemId")}}
                </div>
                <div class="col-lg-2">
                    {{form.unit_price.label(class="form-label")}}
                    {{form.unit_price(class="form-control")}}
                </div>
                <div class="col-lg-1">
                    {{form.quantity.label(class="form-label")}}
                    {{form.quantity(class="form-control")}}
                </div>
                <div class="col-lg-2">
                    {{form.date.label(class="form-label")}}
                    {{form.date(class="form-control")}}
                </div>
                <div class="col-lg-2">
                    {{form.advancer.label(class="form-label")}}
                    {{form.advancer(class="form-control")}}
                </div>
            </div>
            <div class="row py-2">
                <div class="col-lg-9">
                    {{form.note.label(class="form-label")}}
                    {{form.note(class="form-control")}}
                </div>
            </div>

        </div>


        {{form.create_expenditure(class="btn btn-primary")}}
    </form>

    {% endif %}

</main>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<script src="{{ url_for('static', filename='js/item_class_filter.js')}}"></script>

{% endblock %}