{% extends 'base.html' %}


{% block content %}

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">編輯支出項目</h1>
    </div>
    {% if update_done %}
    <div class="alert alert-success" role="alert">
        支出項目已經成功新增，<a href="{{ url_for('item') }}">回到行程資訊</a>
    </div>
    {% else %}

    <form action="" method="POST">
        {{ form.csrf_token }}
        {{ form.hidden_tag() }}
        <div class="shadow-sm bg-light p-3 mb-3 rounded-2 h-100">

            <div class="row pt-1 pb-2 mb-3">
                <div class="row py-2">
                    <div class="col-lg-2">
                        {{form.item_name.label(class="form-label")}}
                        {{form.item_name(class="form-control")}}
                    </div>
                    <div class="col-lg-2">
                        {{form.unit.label(class="form-label")}}
                        {{form.unit(class="form-control")}}
                    </div>
                    <div class="col-lg-2">
                        {{form.default_unit_price.label(class="form-label")}}
                        {{form.default_unit_price(class="form-control")}}
                    </div>
                    <div class="col-lg-3">
                        {{form.item_class_id.label(class="form-label")}}
                        {{form.item_class_id(class="form-control")}}
                    </div>

                </div>
            </div>
        </div>

        {{form.create_button(class="btn btn-primary")}}
    </form>
    {% endif %}

</main>



{% endblock %}